<html>
    <head>
        <title>Template</title>
    </head>
    <body>
        {{ range . }}
        <h1>{{ .FileName }}</h1>

        <table width="100%">
            <tr>
                <td>Vulnerability ID</td>
                <td>Package name</td>
                <td>Installed Version</td>
                <td>Fixed Version</td>
                <td>Details</td>
            </tr>

            {{ range .Vulnerabilities }}
            <tr>
                <td>{{ .VulnerabilityID }}</td>
                <td>{{ .PkgName }}</td>
                <td>{{ .InstalledVersion }}</td>
                <td>{{ .FixedVersion }}</td>
                <td>{{ . }}</td>
            </tr>
            {{ end }}
        </table>

        {{ end }}

    </body>
</html>
